{% extends 'baseTemplate.html' %}
{% load static %}
{% block title %} My Form {% endblock %}

{% block content %} 
<h1>I'm myForm Page</h1>


<div class="container-fluid" >
    <div class="row">
        <div class="col-md-6" style="margin: 0 auto;">
            <!-- <form method="GET" action="{% url 'myFormResponse' %}"> -->
            <form method="POST" action="{% url 'myFormResponse' %}">
            <!-- <form method="POST" action="/myFormResponse"> -->
                {% csrf_token %}
                <h3 style="text-align: center;">My Form</h3>
                <div class="form-group mb-3" >
                    <label for="text1" >First Name</label>
                    <input type="text" class="form-control" id="text1" name="text1" placeholder="text1" area-describedby = "tet1Help">
                    <div id="tet1Help" class="form-text">text1 help</div>
                </div>
                <div class="form-group mb-3">
                    <label for="text2" >Last Name</label>
                    <input type="text" class="form-control" id="text2" name="text2" placeholder="text2" >
                </div>
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary" style="margin: 0 auto; display: block;">Submit</button>
                </div>
            </form>            
        </div>
    </div>
</div>


{% endblock %}